
@font-face {
  font-family: '28DaysLater';
  src: url('28DaysLater.eot?#iefix') format('embedded-opentype'),  url('28DaysLater.woff') format('woff'), url('28DaysLater.ttf')  format('truetype'), url('28DaysLater.svg#28DaysLater') format('svg');
  font-weight: normal;
  font-style: normal;
}
