.discount.stamp {
  max-width: 400px;
  height: auto;
  /* transform: rotate(6deg); */
  margin-top: 0px;
  /* margin-top: -15px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
  /* margin-bottom: 50px; */
}

@media (max-width: 992px) {
  .discount.stamp {
    /* transform: rotate(6deg); */
    margin-top: -10px;
    margin-bottom: 0;
    max-width: 280px;
    z-index: 20000;
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: #161929;
  min-width: 106vw;
  min-height: 100vh;
  z-index: 99999;
}

@media (max-width: 992px) {
  .loader-wrapper {
    z-index: 99;
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: -webkit-linear-gradient(0deg, #1ea3fe 0, #9afbce 100%);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loading_logo {
  position: absolute;
  top: 50%;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

/* body {
  overflow: hidden !important;
  overflow-y: auto !important;
} */

.page-id-3 h2,
.page-id-60 h2,
.page-id-62 h2 {
  padding-top: 30px;
}

.page-id-3 h3,
.page-id-60 h3,
.page-id-62 h3 {
  background-image: linear-gradient(
    86deg,
    #1ea3fe 0%,
    #56a2ff -18%,
    #51eca5 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  display: inline-block;
  line-height: 1.2;
}

.page-id-3 h4,
.page-id-60 h4,
.page-id-62 h4 {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #1ea3fe;
}

.page-id-3 p,
.page-id-60 p,
.page-id-62 p {
  text-align: justify;
  font-size: 18px !important;
}

#content-wrap .page-id-3,
#content-wrap.page-id-60,
#content-wrap .page-id-62 {
  max-width: 900px !important;
}

.scratched {
  font-style: normal;
  line-height: 1.1;
  color: #242735;
  font-weight: 800;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.my_space {
  padding-bottom: 150px;
}

section {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

#main #content-wrap {
  padding-top: 150px;
}

.gradient_line {
  text-align: center center;
  margin-top: -20px;
  padding-bottom: 55px;
  width: 50%;
  height: 10px;
  background-image: url("https://thelaundryportal.com/wp-content/themes/byEnero/img/line.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

.background_dark {
  background-image: url("/images/body.png");
  /* background-color: #000; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

#site-header {
  background-color: #0f1220 !important;
  border-bottom-width: 2px;
}

#site-navigation-wrap .dropdown-menu {
  display: block;
  float: none;
  position: relative;
  top: auto;
  left: auto;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is-sticky .after-header-content {
  transform: translateY(3px) !important;
}

.fa-facebook-f {
  font-size: 20px !important;
  padding-left: 15px;
  transform: translateY(-3px);
}

.fa-instagram {
  font-size: 25px !important;
  padding-left: 15px;
}

.header_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/images/background.jpg");
  background-color: rgba(0, 0, 0, 0.9);
  height: 152vh;
  filter: blur(8px);
  -webkit-filter: blur(6px);
  background-position: center 1px;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero {
  position: relative;
  width: 500px;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
}

.hero_bg {
  width: 100%;
  height: 100%;
  background-image: url("/images/back.png");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: contain;
  filter: blur(2px);
}

.banner {
  position: absolute;
  transform: translateY(-10px);
  left: 50%;
  margin-left: -150px;
  max-width: 300px;
}

.header.overlay {
  min-height: 980px;
  position: relative;
  overflow: hidden;
}

.header {
  padding-top: 140px;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}

.subheader {
  font-weight: 600;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding-bottom: 10px;
}

.letus {
  padding-top: 30px;
  font-weight: 300;
  font-size: 24px;
  text-transform: capitalize;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}

.header_row {
  min-height: 90vh;
  min-height: 50vh;
}

.main_header {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.15em;
}

#next {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.download-btn {
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.try_buttons {
  padding-bottom: 20px;
}

.gradient_text,
.blog-entry-header,
.single-post-title {
  background: -webkit-linear-gradient(0deg, #1ea3fe 0, #9afbce 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 992px) {
  #next {
    display: none !important;
  }
}
@media (min-width: 768px){
  #calltosupportmobile>img{
    padding-top: 22px;
  }
}

@media (max-width: 768px) {
  section {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  #site-header-inner {
    display: flex;
  }
  .mobile-screen-middle {
    width: 50%;
    padding-top: 8px;
  }
  .mobile-screen-rigth {
    width: 50%;
  }
  .my_space {
    padding-bottom: 80px;
  }

  .cta_header {
    font-size: 41px !important;
  }

  .cta_subheader {
    font-size: 25px !important;
  }

  .white,
  .fullwhite,
  .black {
    padding: 10px 25px 10px 25px !important;
  }

  .howdoesitwork_container {
    max-width: 600px;
  }

  .main_header {
    font-size: 40px;
    margin-top: 30px;
    line-height: 54.25px !important;
  }

  
  .subheader {
    font-size: 16px;
    line-height: 25px !important;
  }
  .mobileCart1 {
    border: 1.22px solid white;
    height: 260.37px !important;
    border-radius: 18.24px;
}
.responsivePtag{
  margin-bottom: 0px;
  margin-top: 39px;
}

  .gradient_line {
    width: 70%;
  }

  .hidden_mobile {
    display: none;
  }

  .hidden_desktop {
    display: none;
  }

  .container.clr,
  .col {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .letus {
    font-size: 15px;
  }

  .header_bg .off {
    height: 150vh;
  }

  .header {
    height: auto;
  }

  .howdoesitwork_container .card-body,
  .howdoesitwork_container .col {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  span[aria-label="Next"],
  span[aria-label="Previous"] {
    padding: 17px;
  }
}

.blk {
  color: #000;
}

#calltosupport {
  padding: 3px;
}

#calltosupport i {
  font-size: 22px;
  font-weight: 700;
}

#calltosupport .callus {
  font-size: 18px;
  font-weight: 700;
}

.price_tab_wash {
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  color: #000000 !important;
  line-height: 1.5;
  height: 140vh;
}
.price_tab {
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  color: #000000 !important;
  line-height: 1.5;
  height: 100%;
}

@media (max-width: 320px) {
  .price_tab_wash {
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    color: #000000 !important;
    line-height: 1.5;
    height: 140vh;
  }
  .price_tab_content {
    padding-left: 0% !important;
    padding-right: 11% !important;
    margin-left: 2px !important;
  }
}
@media (max-width: 375px) {
  .price_tab_wash {
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    color: #000000 !important;
    line-height: 1.5;
    height: 130vh;
  }
  .footer-widgets-inner .container {
    margin-bottom: 30px !important;
  }
}
@media (min-width: 768px) {
  .owl-carousel .owl-item img {
    display: block;
    width: auto !important;
    height: 52vh !important;
  }
}

.price_images {
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.h2_prices {
  font-size: 25px;
  columns: #000;
  font-weight: 700;
}

.black_btn {
  padding: 10px 25px 10px 25px;
  color: #fff;
  background-color: #000;
}

.black_btn:hover {
  color: #fff;
}

.price_tab_content {
  margin-top: 10px;
  margin-bottom: 110px;
  padding-right: 12%;
  min-height: 300px;
  margin-left: 25px;
  position: relative;
}
@media (max-width: 320px) {
  .price_tab_content {
    margin-top: 10px;
    margin-bottom: 110px;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 300px;
    position: relative;
  }
}
@media (max-width: 375px) {
  .price_tab_content {
    margin-top: 10px;
    margin-bottom: 110px;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 350px;
    position: relative;
  }
}

.mt20 {
  margin-top: 20px;
}

.price_button_wrap {
  position: absolute;
  bottom: -59px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.price_button_wrap_wash {
  position: absolute;
  bottom: -322px;
  line-height: 1.75;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  padding: 20px;
}
.price_button_wrap_wash .collapse-content {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  overflow: hidden;
}

.price_button_wrap_wash .collapse-content.show {
  opacity: 1;
  max-height: 500px; /* Adjust as needed */
}

.price_tab_content table td {
  text-align: center;
  border-bottom: none;
  padding: 0;
  font-weight: 700;
}

.price_tab_content table {
  margin-top: 20px;
  margin-bottom: 0;
}

.price_tab_content ul {
  text-align: left;
  list-style: outside;
}

#wash_fold_detail {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 15%;
  padding-right: 15%;
}

.feature_wrap.active {
  font-weight: 700;
}

.ancor {
  transform: translateY(-100px);
}

.find_out {
  background: linear-gradient(104.18deg, #1ea3fe 0.24%, #9afbce 99.68%), #ffffff;
  padding: 5px 29px 5px 29px !important;
  font-weight: 600;
  border-radius: 3px;
  display: inline-block;
  margin: 15px;
}

.open_download_popup {
  cursor: pointer;
}

.pop_up_img {
  max-height: 70vh;
}

#close_download_popup {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: -20em;
}
@media (max-width: 320px) {
  #close_download_popup {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: -5em;
  }
}
@media (max-width: 375px) {
  #close_download_popup {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: -5em;
  }
  .owl-carousel .owl-item img {
    height: 288px !important;
  }
}
@media (min-width: 425px) {
  .owl-carousel .owl-item img {
    height: 315px !important;
  }
}
@media (min-width: 320px) {
  .owl-carousel .owl-item img {
    height: 305px !important;
  }
}
@media (min-width: 353px) {
  .owl-carousel .owl-item img {
    height: 271px !important;
  }
}
@media (min-width: 390px) {
  .owl-carousel .owl-item img {
    height: 290px !important;
  }
}
@media (min-width: 430px) {
  .owl-carousel .owl-item img {
    height: 320px !important;
  }
}
@media (min-width: 414px) {
  .owl-carousel .owl-item img {
    height: 307px !important;
  }
}
@media (min-width: 1024px) and (max-width: 2000px) {
  .owl-carousel .owl-item img {
    display: block;
    height: auto !important;
    width: 100% !important;
  }
}
@media (max-width: 425px) {
  h3.how-title {
    font-size: 20px;
    font-weight: 800;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.2 !important;
    margin: auto;
  }
  #download_popup {
    padding-top: 60px;
  }
  #colorbtn {
    color: white !important;
    padding: 27px 40px 27px 40px !important;
  }
  #close_download_popup {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: -6em;
  }
  #textmobile {
    text-align: center;
  }
}
.bold {
  font-weight: 900;
}

.mobile_popup {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  color: #fff;
  background-color: #21263a;
  display: none;
  z-index: 999;
}

.mobile_popup_btn {
  background: linear-gradient(
    90deg,
    #000000 28.82%,
    #1ea3fe 28.83%,
    #9afbce 99.6%
  );
  padding: 5px 25px 5px 2px !important;
  font-weight: 600;
  border-radius: 3px;
  display: inline-block;
  min-width: 128px !important;
}

.mobile_popup_logo {
  max-height: 25px;
  width: auto;
  padding-left: 0;
  padding-right: 24px;
  margin-bottom: 2px;
}

.white {
  color: #fff;
}

.feature_wrap {
  min-height: 100px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
#textmobile {
  text-align: center;
}
/* Adjust styles for mobile screens */
.customSwiper .swiper-button-next,
.customSwiper .swiper-button-prev {
  font-weight: 900; /* Bold font */
  color: #1ea3fe; /* Dark color, adjust as needed */
}

@media (max-width: 768px) {
  .customSwiper .swiper-button-next {
    right: 5% !important;
    font-weight: 900;
    color: #1ea3fe; /* Dark color on mobile */
  }
  #download_popup {
    padding-top: 60px;
    overflow: auto;
    height: 100vh;
  }
  .customSwiper .swiper-button-prev {
    left: 5% !important;
    font-weight: 900;
    color: #1ea3fe; /* Dark color on mobile */
  }
  .customSwiper .swiper-button-next,
  .customSwiper .swiper-button-prev {
    font-size: 12px !important; /* Smaller font size for mobile devices */
  }
  #mobilres {
    display: block !important;
  }
  .features_phone_bg img {
    height: 567px;
    width: 100%;
  }
  #mobilres img {
    width: 340px !important;
  }
}

@media (max-width: 768px) {
  /* .service_description,
    .overlay-text {
        display: none
    } */
  .price_tab {
    height: auto;
    width: 45%;
  }
  .feature_wrap {
    min-height: 130px;
    font-size: 15px;
  }
}
@media (max-width: 435px) {
  .price_tab {
    height: auto;
    width: 100%;
  }
  .mobile-screen-middle {
    width: 50%;
    padding-top: 7px;
  }
  .mobile-screen-left,
  .fas {
    margin-top: 10px;
  }
}

@media (max-width: 425px) {
  .header .mobiledownload {
    margin-bottom: 20px;
    padding: 17px 40px 17px 40px !important;
  }
  .price_tab {
    height: auto;
    width: 100%;
  }
  .mobiledownload {
    padding: 17px 40px 17px 40px !important;
  }
  .mobile-screen-left {
    width: 55%;
  }
  .mobile-screen-middle {
    padding-top: 6px;
  }
  #btnReadmore {
    padding: 10px 29px 10px 29px !important;
  }
  .mobile-screen-rigth {
    width: 5%;
  }

  .mobilescreen {
    font-size: 20px !important;
  }
  #textmobile {
    text-align: center;
  }
  .my_space {
    padding-bottom: 20px;
  }
  #site-header-inner {
    align-items: center;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    font-size: 18px !important;
    font-weight: inherit !important;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 18px !important;
    font-weight: inherit !important;
  }
  .mobile_screens .owl-stage-outer {
    height: 299px;
  }
}
.features_phone_bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.features_phone_bg img {
  max-height: 100%;
}

.features_phone_bg.left_bg {
  z-index: 20;
}

.features_phone_bg.right_bg {
  z-index: 22;
}

.mobile_screen off {
  background-image: url(../../../../../../themes/byEnero/img/Laundry-Portal-Phone-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.mobile_screen.smaller {
  margin-left: -17%;
  transform: scale(0.9);
  margin-bottom: -5%;
  z-index: 99;
}

.owl-four,
.owl-five {
  padding-left: 3%;
  padding-right: 0%;
  padding-top: 16%;
  padding-bottom: 18%;
}

.services_images_overlay {
  color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(15, 18, 32, 0) 0%,
    rgba(27, 30, 44, 0) 70.83%,
    rgba(36, 39, 53, 0.82) 100%
  );
  border-radius: 3px;
  display: flex;
}

.service_name {
  align-self: flex-end;
  width: 100%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.services_images {
  border-radius: 3px;
}

.services_images-wrap {
  position: relative;
  display: inline-flex;
}

.service_description {
  padding-top: 20px;
}

.whoarewe_images {
  margin-left: 20px;
  border-radius: 10px;
}

.dborder_heading {
  margin-top: 10px;
}

.dborder.left {
  padding-left: 15px;
  padding-right: 30px;
  margin-left: 20px;
}

.dborder.left.bblue {
  border-left: 2px solid #35c5fc;
}

.dborder_container {
  display: flex;
  flex-flow: column !important;
}

.dborder.stretch {
  flex: 1;
}

.dborder.left.darkblue {
  border-left: 2px solid #1341b8;
}

h2.dborder {
  display: inline-block;
  padding: 8px;
  margin: auto;
  margin-bottom: 50px;
}

h2.dborder.bblue {
  border-bottom: 2px solid #35c5fc;
}

h2.dborder.darkblue {
  border-bottom: 2px solid #1341b8;
}

.video_thumbnail {
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  width: 85%;
  box-shadow: 10px 10px 100px rgba(255, 255, 255, 0.13);
}

#play {
  position: absolute;
  left: 35%;
  top: 30%;
  size: 20rem;
  width: 20%;
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 1.7s infinite;
}

#play:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(104, 169, 244, 0.7);
  }

  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(104, 169, 244, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(104, 169, 244, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(104, 169, 244, 0.7);
    box-shadow: 0 0 0 0 rgba(104, 169, 244, 0.7);
  }

  70% {
    -moz-box-shadow: 0 0 0 15px rgba(104, 169, 244, 0);
    box-shadow: 0 0 0 10px rgba(104, 169, 244, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(104, 169, 244, 0);
    box-shadow: 0 0 0 0 rgba(104, 169, 244, 0);
  }
}

.videoPlayerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1200;
  background-color: rgba(0, 0, 0, 0.8);
  transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
}

.videoPlayerOverlay .closeIcon {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 3rem;
  z-index: 200;
  padding: 10px;
  border-radius: 50%;
  border: 0;
  background: rgb(6, 6, 7, 0);
  width: 30px;
  height: 30px;
}

.videoPlayerOverlay iframe {
  max-width: 853px;
  max-height: 480px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
}

.videoPlayerOverlay.hiddenTransform {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
}

@media only screen and (min-width: 1200px) {
  .videoPlayerOverlay .closeIcon:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.steps {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px !important;
}

.h_prices {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 20px;
}

.owl-carousel .owl-item img {
  display: block;
  width: auto !important;
  height: 35vh;
  transition: transform 2.5s ease, opacity 5s ease;
}
#howdoesitwork {
  padding-top: 100px;
  padding-bottom: 100px;
}

.howdoesitwork_container {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}

.hdw_text_wrap {
  max-width: 70%;
  margin: auto;
}

.hdw_phone {
  display: inline-block;
}

.overlay-text {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

h3.how-title {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 15px;
  line-height: 1.2 !important;
  margin: auto;
}

.howdoesitwork_container .card-body {
  display: inline-table;
}

.h_660 {
  height: 660px;
  text-align: -webkit-center;
}

.screenshot {
  margin: auto;
  max-height: 550px;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}

.hdw_navigation {
  max-width: 400px;
  margin: auto;
}

.step.active {
  font-weight: 800;
  border-bottom: 2px solid #35c5fc;
}

.owl-nav {
  position: absolute;
  top: 45% !important;
  width: 100%;
  cursor: pointer;
  font-size: 40px;
  font-weight: 400;
  color: #1ea3fe;
}

.owl-prev {
  position: absolute;
  left: -10px;
}

.owl-next {
  position: absolute;
  right: -10px;
}

.owl-dot {
  border-radius: 50px;
  height: 8px;
  width: 8px;
  display: inline-block;
  background: #1ea3fe !important;
  margin-left: 4px;
  margin-right: 4px;
}

.owl-dot.active {
  background: #9afbce !important;
}

.card {
  background-color: #242735;
  border: none;
  border-radius: 0;
  overflow: hidden;
}

.howdoesitwork_container .download-btn {
  max-width: 170px !important;
  display: inline !important;
}

.howdoesitwork_container .left {
  margin-right: 2%;
}

.howdoesitwork_container .right {
  margin-left: 2%;
}

.light {
  position: absolute;
  width: 307px;
  height: 352px;
  top: 70px;
  left: -235px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0.2) 54.69%,
    rgba(255, 255, 255, 0) 100%
  );
}

.try_header {
  font-size: 64px;
  color: #9afbce;
  line-height: 1;
}

.try_subheader {
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1;
}

.try_code {
  color: #1ea3fe;
  font-weight: 700;
  padding-bottom: 20px;
}

.walking {
  margin-left: auto;
  margin-right: auto;
  max-height: 360px;
  margin-top: 10px;
  margin-bottom: -20px;
  margin-top: 20px;
}

.pop_up_bg {
  position: fixed;
  top: 20;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 106vw;
  min-height: 100vh;
  z-index: 99999;
}

.cta_content_wrap {
  margin-top: 35px;
  padding-bottom: 10px;
}

.pop_up_box {
  z-index: 20;
}

#close_popup {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  color: #000;
  cursor: pointer;
}

.cta_col_1 {
  height: 100%;
}

.faded {
  opacity: 0.5;
  font-size: 40px;
  letter-spacing: 20px;
}

.feature_heading {
  font-weight: 700;
  font-size: 64px;
  transform: translateX(-5px);
  line-height: 1.1;
}

.feature_line {
  width: 200px;
  border-bottom: 2px solid #fff;
  transform: translateY(-20px);
  padding-bottom: 20px;
  opacity: 0.5;
}

.cta_text {
  color: #222;
  font-weight: 600;
  text-align: justify;
  font-size: 16px;
}

.cta_table {
  color: #222;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 30px;
  font-size: 21px;
}

.feature_icon {
  width: 60px;
}

.cta.overlay {
  background: -webkit-linear-gradient(
      110.03deg,
      rgba(30, 163, 254, 0.95) 5.76%,
      rgba(30, 163, 254, 0.95) 56.15%,
      rgba(154, 251, 206, 0.95) 103.49%
    ),
    url(../../../../../../themes/byEnero/img/Laundry-Portal-cta-bg.jpg) center
      center;
  background-size: cover;
  background-attachment: scroll;
}

.cta_header {
  font-size: 74px;
  line-height: 1.1;
}

.cta_subheader {
  line-height: 1.4;
  font-size: 46px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 5px;
}

#cta_code {
  color: #242735;
  font-weight: 800;
}

#timer {
  font-weight: 600;
  color: red;
}

.white_buttons {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fa-quote-left {
  position: absolute;
  top: 15px;
  left: 15px;
}

.fa-quote-right {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.name {
  padding-top: 15px;
  margin-bottom: 0.25rem !important;
  font-weight: 700;
}

.fa-star {
  letter-spacing: 7px;
}

.blue {
  color: #1ea3fe;
}

#testimonials .card-text {
  font-style: italic;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.aed {
  font-size: 12px;
}

.pricingtable {
  color: #fff;
  background-color: #1f212c;
  overflow-y: auto;
  height: 100px;
  text-align: center;
  margin-bottom: 0 !important;
  vertical-align: middle;
}

.column-1 {
  max-width: 100vw;
}

.pricingtable tr:nth-child(odd) {
  background-color: #3d3f4a;
}

.table td,
.table th {
  text-align: center;
}

.light_line,
.tab {
  background-color: #3d3f4a;
}

.table th,
.category,
.tab {
  background-color: #30323f;
  padding: 10px 10px 10px 10px;
  border-radius: 0 5px 0 0;
  display: inline;
  cursor: pointer;
  color: #909090;
  font-weight: 600;
  width: 50%;
}

.tab.active {
  background-color: #3d3f4a;
  color: #fff;
  font-weight: 900;
}

.tabs {
  background-color: #1f212c;
  display: inline-flex;
  width: 100%;
}

.tab_head {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

#tab_head1 {
  border-radius: 5px 5px 0 0;
}

#tab_head3 {
  border-radius: 0 0 5px 5px;
}

.arrow_open {
  position: absolute;
  right: 20px;
  transform: translateY(3px);
}

.rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#number,
#mail {
  padding-bottom: 10px;
}

input,
textarea {
  color: #fff !important;
  background: #242735 !important;
  border: none !important;
  border-radius: 0px !important;
}

textarea {
  height: 300px !important;
  margin-bottom: 1vw !important;
  margin-top: 1.8vw !important;
}

textarea::placeholder,
input::placeholder {
  color: #fff;
}

.btn,
.wpforms-submit {
  border-radius: 3px;
  font-weight: 700 !important;
  font-size: 16px !important;
  border-radius: 0.2rem !important;
  border: none;
  text-transform: uppercase;
}

.wpforms-submit {
  margin-top: 10px !important;
}

.gradient {
  background: linear-gradient(102.59deg, #1ea3fe 0%, #9afbce 100%), #1ea3fe !important;
  /* padding: 17px 40px 17px 40px !important */
}

.gradient_rev {
  background: linear-gradient(102.59deg, #1ea3fe 0%, #9afbce 100%), #1ea3fe !important;
  padding: 17px 40px 17px 40px !important;
}

.white,
.fullwhite,
.black {
  padding: 15px 35px 15px 35px;
}

.white,
.fullwhite {
  border: 2px solid #ffffff !important;
}

.white {
  background-color: rgb(255, 255, 255, 0.15);
  color: #fff !important;
}

.filled_33 {
  background: linear-gradient(
    to right,
    #242735 50%,
    rgb(255, 255, 255, 0.15) 50%
  );
  background-size: 202% 100%;
  background-position: 66% bottom;
  -webkit-animation: fill_33;
  -moz-animation: fill_33;
  animation: fill_33;
  animation-timing-function: linear;
  animation-duration: 1500ms;
}

@keyframes fill_33 {
  from {
    background-position: right bottom;
  }

  to {
    background-position: 66% bottom;
  }
}

.filled_66 {
  background: linear-gradient(
    to right,
    #242735 50%,
    rgb(255, 255, 255, 0.15) 50%
  );
  background-size: 202% 100%;
  background-position: 33% bottom;
  -webkit-animation: fill_66;
  -moz-animation: fill_66;
  animation: fill_66;
  animation-timing-function: linear;
  animation-duration: 1000ms;
}

@keyframes fill_66 {
  from {
    background-position: 66% bottom;
  }

  to {
    background-position: 33% bottom;
  }
}

.filled_100 {
  background: linear-gradient(
    to right,
    #242735 50%,
    rgb(255, 255, 255, 0.15) 50%
  );
  background-size: 202% 100%;
  background-position: 0% bottom;
  -webkit-animation: fill_100;
  -moz-animation: fill_100;
  animation: fill_100;
  animation-timing-function: linear;
  animation-duration: 1000ms;
}

@keyframes fill_100 {
  from {
    background-position: 33% bottom;
  }

  to {
    background-position: 0% bottom;
  }
}

.fullwhite {
  background-color: #fff;
  color: #1ea3fe !important;
}

.black {
  border: 2px solid #242735 !important;
  background-color: #242735;
  color: #fff !important;
}

.btn-primary:focus,
.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
  background: linear-gradient(102.59deg, #1ea3fe 0%, #9afbce 100%), #1ea3fe !important;
}

.btn .wantmore {
  background-color: #fff !important;
  color: #9afbce;
}

.header .mobiledownload {
  margin-bottom: 20px;
  padding: 17px 40px 17px 40px !important;
}
.mobiledownload {
  margin-bottom: 20px;
  padding: 17px 40px 17px 40px !important;
}

#footer-widgets .footer-box a,
#footer-widgets a {
  color: #000 !important;
}

#footer-widgets {
  background: linear-gradient(
    300deg,
    rgb(30, 163, 254, 0.95) 0,
    rgb(154, 251, 206, 0.93) 100%
  ) !important;
}

.footer-widgets-inner .row {
  display: flex;
  justify-content: center;
  text-align: center;
}

.copyright {
  font-weight: 800;
  color: #000 !important;
  padding-left: 12px;
}

.footer-widgets-inner .menu-item {
  border: none !important;
  list-style-type: none;
  display: inline;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.find_out,
.pointer {
  cursor: pointer;
  font-weight: 700;
}

.hidden {
  display: none;
}

.partner_logo {
  width: 60px;
  height: 60px;
}

.partner_heading {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
}

.partner_table {
  line-height: 1.5;
}

td.partner_icon {
  width: 15px;
  text-align: center;
}

.partner_table tr:last-child,
tr.last {
  border-bottom-color: #1ea3fe !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}

.blog-entry.thumbnail-entry .blog-entry-bottom {
  border-top: none !important;
  padding-top: 0px !important;
}

.about_banner {
  padding-bottom: 20px;
}

.about_text {
  font-size: 18px;
}

.about.overlay {
  background: -webkit-linear-gradient(
    300deg,
    rgb(30, 163, 254, 0.8) 0,
    rgb(154, 251, 206, 0.8) 100%
  );
  padding-top: 50px;
  padding-bottom: 40px;
}

.zoom,
.elementor-button {
  transition: transform 0.2s ease-in-out;
}

.zoom:hover {
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.come-in {
  transform: translateY(80px);
  animation: come-in 1.2s ease forwards;
  -moz-animation: come-in 1.2s ease forwards;
  -webkit-animation: come-in 1.2s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 1.2s;
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

.come-in.two {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.come-in.two {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.come-in.three {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade-in.two {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fade-in.three {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.fade-in.four {
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  animation-delay: 1.9s;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }

  80% {
    opacity: 1;
    transform: scale(0.89);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }

  80% {
    opacity: 1;
    transform: scale(0.89);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }

  80% {
    opacity: 1;
    transform: scale(0.89);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

.baunce_in {
  opacity: 0;
  -webkit-animation: bounceIn;
  -moz-animation: bounceIn;
  animation: bounceIn;
  animation-duration: 650ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes bounceIn2 {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }

  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }

  80% {
    opacity: 1;
    transform: scale(0.89);
  }

  100% {
    opacity: 1;
    transform: scale(1.1) translate3d(0, 0, 0);
  }
}

.baunce_in2 {
  opacity: 0;
  -webkit-animation: bounceIn2;
  -moz-animation: bounceIn2;
  animation: bounceIn2;
  animation-duration: 650ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fade-up {
  0% {
    opacity: 0.9;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-50px);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.fadeup {
  opacity: 0;
  -webkit-animation: fade-up;
  -moz-animation: fade-up;
  animation: fade-up;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.bouncy {
  transition: 0.1s ease-in-out;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 0;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

@media (max-width: 1367px) {
  .screenshot {
    max-height: 450px !important;
  }

  .h_660 {
    max-height: 560px !important;
  }

  .walking {
    max-height: 300px !important;
  }
}

@media (max-width: 555px) {
  .whoarewe_images {
    margin-left: 0;
  }
  .modal.show .modal-dialog {
    transform: none;
    width: 100% !important;
    margin-top: 10px;
    position: fixed;
    left: -4px;
    overflow: auto;
    height: 100vh;
  }
  .mobile_popup {
    display: none;
  }

  h2.dborder {
    margin-bottom: 10px !important;
    font-size: 22px !important;
  }

  #main #content-wrap {
    padding-top: 80px;
  }

  .left {
    margin-right: 0px !important;
  }

  .right {
    margin-left: 0px !important;
  }

  .feature_line {
    width: 100px;
    border-bottom: 2px solid #fff;
    transform: translateY(-20px);
  }
  .feature_heading {
    font-size: 40px !important;
  }

  .faded {
    font-size: 20px !important;
    transform: translateX(1px) !important;
  }

  .feature_icon {
    transform: translateY(-4px) !important;
    width: 45px;
  }
  .textsizeresponsive {
    font-size: 17px;
  }
  .cta_table {
    font-size: 18px !important;
  }

  .screenshot {
    max-height: 450px !important;
  }

  .h_660 {
    max-height: 560px !important;
  }

  .walking {
    max-height: 300px !important;
  }

  .aed {
    font-size: 11px;
  }

  .gradient_line {
    padding-bottom: 30px;
  }

  .partner_heading {
    font-size: 18px !important;
  }

  #hero {
    width: 80vw;
    height: 84vw;
  }

  .banner {
    left: 20%;
    margin-left: 0;
    max-width: 60%;
  }

  .header {
    padding-top: 80px !important;
  }

  .tab-head {
    font-size: 20px;
  }

  .pricingtable,
  .tab {
    font-size: 14px;
  }

  .footer-widgets-inner .menu-item {
    display: block !important;
  }
  #showtext {
    max-width: 100%;
    margin: 0px 55px 20px 55px;
  }
  #cta {
    margin-top: 100px;
  }
  .container,
  body.content-full-screen
    .elementor-section-wrap
    > .elementor-section.elementor-section-boxed
    > .elementor-container {
    max-width: 93% !important;
  }
  .service_description {
    padding: 5px;
  }
  .service_description {
    margin: 0px;
  }
}

.mobile_screens .owl-stage-outer {
  background-color: #000;
}

/* .service_description {
    transition: opacity 3.5s ease, max-height 3.5s ease;
  } */

.toggle-el {
  height: 100px;
  transition: all 0.5s ease;
  opacity: 1;
  font-size: 15px;
}
.toggle-el2 {
  height: 160px;
  transition: all 0.5s ease;
  opacity: 1;
  font-size: 15px;
}
.toggle-el3 {
  height: 80px;
  transition: all 0.5s ease;
  opacity: 1;
  font-size: 15px;
}
.toggle-el1 {
  height: auto;
  transition: all 0.5s ease;
  opacity: 1;
  font-size: 15px;
}
.hide-text {
  height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.hide-input {
  position: absolute;
  left: -999em;
}

.pull-down {
  transform: translateY(5px);
}

.show {
  display: block;
}

@media (max-width: 500px) {
  .dborder_heading {
    font-size: 22px !important;
    font-weight: 600 !important;
  }
}
@media (max-width: 390px) {
  .modal.show .modal-dialog {
    transform: none;
    width: 100% !important;
    margin-top: 10px;
    position: fixed;
    left: -4px;
    overflow: auto;
    height: 100vh;
  }
}
@media (min-width: 3000px) and (max-width: 1025px) {
  #webcss {
    display: block;
  }
}
@media (min-width: 1024px) and (max-width: 320px) {
  #webcss {
    display: none;
  }
}
@media (max-width: 768px) and (min-width: 300px) {
  .mobile-screen-middle {
    float: right !important;
    width: 100% !important;
  }
  .mobile-menu {
    float: right !important;
    margin-top: 3px !important;
    border-radius: 15px !important;
  }
}
#react-select-3-input {
  background-color: transparent !important;
}
#react-select-5-input {
  background-color: transparent !important;
}
#react-select-2-input {
  background-color: transparent !important;
}
.react-tel-input .country-list .country-name {
  color: #000 !important;
}
.margin202 {
  margin-left: 100px;
}
.margin22 {
  margin-bottom: 30px !important;
}

.boxmap {
  margin: 3%;
  background-color: #ffffff;
  color: #000;
  display: flex;
  padding: 6px;
}
.boxmap1 {
  margin: 3% 3%;
  background-color: #ffffff;
  color: #000;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
}
.boxmap1_p{
width: 50px;
height: 50px;
}
#mapModal {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 28%;
  top: 0px;
}
.lowercase {
  text-transform: none !important;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 200px; /* Adjust width as needed */
}

.selected-option {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.slot-icon {
  margin-left: 8px;
}

.slot-text {
  flex: 1;
}
/* Style the select element and options */
.custom-select {
  background-image: url("https://app.laundryheap.com/images/icons/leaf_green.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
  padding-right: 30px; /* Adjust based on icon size */
}

.icon-placeholder {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("https://app.laundryheap.com/images/icons/leaf_green.svg");
  background-size: cover;
  vertical-align: middle;
  margin-left: 8px; /* Adjust space between text and icon */
}

.mobileCart1 {
  border: 1.22px solid white;
  height: 295.37px;
  border-radius: 18.24px;
}
#mobileheaderorder1 {
  width: 136px !important;
  height: 53px !important;
  border-radius: 4.5px !important;
  color: white !important;
  padding-top: 14px !important;
}

@media (max-width: 768px) and (min-width: 300px) {
  .mobileColor12 {
    color: black !important;
  }
  .header.overlay{
    min-height: 580px !important;
  }
  .boxmap1_p{
    width: 70px;
    height: 50px;
    }
}
.QRCodeScanHome{
  height: 500px;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
}
.GroupQrCode{
  border-radius: 8px;
  height: 200px;
  width: 200px;
  object-fit: contain;
  padding: 5px;
  background: white;
}
#mobile-fullscreen #mobile-fullscreen-inner{
  display: grid !important;
}
#mobile-fullscreen nav{
  display: table-cell;
    vertical-align: middle;
    padding: 0px 0px !important;
    margin: -130px 0px !important;
    text-align: center;
}