:root {
  --swiper-navigation-size: 30px !important;
}
.swiper {
  width: 100%;
  height: 100%;
  display: flex;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step-indicators {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}

.step-indicator {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 16px;
  border-bottom: 2px solid transparent;
}

.step-indicator.active {
  font-size: 16px;
  border-bottom: 2px solid #35c5fc !important;
  font-weight: bold;
}

.swiper-button-prev {
  left: 20% !important;
}

.swiper-button-next {
  right: 20% !important;
}

@media (max-width: 320px) {
  
  .swiper-button-next {
    right: 6% !important;
  }
  .swiper-button-prev {
    left: 3% !important;
  }
}
@media (max-width: 375px) {

  .swiper-button-next {
    right: 6% !important;
  }
  .swiper-button-prev {
    left: 3% !important;
  }
}

/* Custom styles for the Swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  background-size: 100% 100%; /* Ensure the background scales with the button size */
}

/* Optional: Change the background image for the buttons */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px; /* Adjust the font size of the arrows if necessary */
}
.swiper-button-prev, .swiper-button-next {
  width: calc(var(--swiper-navigation-size) / 44* 27) !important;
}